<section class="container-main uk-background-secondary uk-flex uk-flex-center uk-flex-middle uk-overflow-hidden uk-light" data-uk-height-viewport>
   <!-- overlay -->
   <div class="uk-position-cover uk-overlay-primary"></div>


   <section class="container-login uk-width-5-6 uk-height-large uk-padding-small uk-border-rounded uk-position-z-index" uk-grid uk-scrollspy="cls: uk-animation-fade">

      <section class="section-form uk-width-3-4 uk-border-rounded"></section>
      <section class="section-info uk-width-1-4"></section>





   </section>
</section>
